TYPEORM_URL=postgres://default:password@postgres:5432/etoubib_db
NODE_ENV=local
PORT=3000

# bo auth config
BO_JWT_AUTH_SECRET=BO_SECRET
BO_ACCESS_TOKEN_EXPIRES_IN=1d

# client auth config
JWT_AUTH_SECRET=CLIENT_SECRET
ACCESS_TOKEN_EXPIRES_IN=2h
REMEMBER_ME_ACCESS_TOKEN_EXPIRES_IN=2d