version: "3"

volumes:
  dbdata:
    driver: local

services:
  postgres:
    build: .
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=nestjs_boilerplate
      - POSTGRES_USER=default
      - POSTGRES_PASSWORD=password
      - TZ=UTC
      - PGTZ=UTC
    volumes:
      - dbdata:/var/lib/postgresql/data
